  <!-- Header -->
                        <header id="header">
                                <div class="inner">
                                        <a href="/invoiceOverview" class="logo"><strong>BillStore</strong></a>
                                        <nav id="nav">
                                                Welcome,<%= locvarCustFirstName %>
                                                <a href="/invoiceOverview">Home</a>
                                                <a href="/bankTransactions">Bank Transactions</a>
                                                <a href="/about">About</a>
                                                <a href="/logout">Logout</a>
                                        </nav>
                                        <a href="navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
                                </div>
                        </header>

                <!-- Banner -->
                        <section id="banner">
                                <div class="inner">
                                        <header>
                                                <h1>Welcome,<%= locvarCustFirstName %> </h1>
                                        </header>

                                        <div class="flex ">

                                                <div>
                                                        <span class="icon fa-file-text-o"></span>
                                                        <h3><a href="/invoiceOverview">View your invoices</a></h3>
                                                        <p>Click here to see a complete list of your invoices</p>
                                                </div>


                                                <div>
                                                        <span class="icon fa-upload"></span>
                                                        <h3><a href="/uploadInvoice">Upload a new invoice</a></h3>
                                                </div>

                                        </div>

                                </div>
			</section>
