<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
     <head>
                <% include ./partials/header %>
        </head>
        <body>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to BillStore</h1>
					</header>

						<div>
							<h3>Say goodbye to paper receipts. Billstore is a digital vault for all your receipts.</h3>
							
							<br><br>
							<h3> Billstore started in 2018 based on the idea that its 2018 and paper receipts should not exist :-)<h3>					
							<br><br>
							<a href="/login" class="button">Click here to sign in</a>
							<br><br>	
						</div>

					<footer>
						<a href="/signup" class="button">New to BillStore? Click here to get started</a>
					</footer>
				</div>
			</section>


	</body>
</html>
