
<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/basic.ejs%>
</head>
<body class="container">

<header>
<h1> error page</h1>
</header>

<main>
    <div class="jumbotron">
        <h1>Invoice List</h1>
        <p>Here is a list of your invoices</p>
    </div>
</main>

<footer>
        <h1> Test Footer </h1>
</footer>

</body>
</html>

