<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Welcome to BillStore</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>BillStore</strong></a>
					<nav id="nav">
						<a href="index.html">Home</a>
						<a href="generic.html">Invoices</a>
						<a href="elements.html">About</a>
					</nav>
					<a href="navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to BillStore</h1>
						<h3>To create your account, please enter this basic infomration</h1>
					</header>

					<div class="flex ">

					  <!-- LOGIN FORM -->
					<form action="/signup" method="post" enctype="application/x-www-form-urlencoded">


                                                <div class="form-group">
                                                      <label><font color="white">First Name *</font></label>
                                                        <input type="text" class="form-control" name="CustFirstName" required>
                                                 </div>



                                                <div class="form-group">
                                                      <label><font color="white">Last Name *</font></label>
                                                        <input type="text" class="form-control" name="CustLastName" required>
                                                 </div>


						<div class="form-group">
                                                      <label><font color="white">Email address *</font></label>
                                                        <input type="email" class="form-control" name="CustEmailAddress" required>
                                                 </div>


                                                <div class="form-group">
                                                      <label><font color="white">Address Line 1</font></label>
                                                        <input type="text" class="form-control" name="CustAddressLine1">
                                                 </div>


                                                <div class="form-group">
                                                      <label><font color="white">Address Line 2</font></label>
                                                        <input type="text" class="form-control" name="CustAddressLine2">
                                                 </div>


                                                <div class="form-group">
                                                      <label><font color="white">Address Line 3</font></label>
                                                        <input type="text" class="form-control" name="CustAddressLine3">
                                                 </div>


                                                <div class="form-group">
                                                      <label><font color="white">Country Code</font></label>
							<select name="CustCountryCode">
								<option value="NL">Netherlands</option>
								<option value="BE">Belgium</option>
								<option value="DE">Germany</option>
								<option value="FR">France</option>
								<option value="UK">United Kingdom</option>
							</select>
                                                 </div>



                                                <div class="form-group">
                                                      <label><font color="white">Zip Codes</font></label>
                                                        <input type="text" class="form-control" name="CustZipCode">
                                                 </div>



                                                <div class="form-group">
                                                      <label><font color="white">City</font></label>
                                                        <input type="text" class="form-control" name="CustCity">
                                                 </div>



                                                <div class="form-group">
                                                      <label><font color="white">State</font></label>
                                                        <input type="text" class="form-control" name="CustState">
                                                 </div>

                                                <div class="form-group">
                                                      <label><font color="white">Customer Type</font></label>

  					 		<select name="CustType">
                                                                <option value="NL">Basic</option>
                                                                <option value="BE">Premium</option>
                                                        </select>
                                                 </div>


					        <div class="form-group">
						      <label><font color="white">Create a Password *</font></label>
						            <input type="password" class="form-control" name="PASSWORD" required>
					        </div>
					        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
				     </form>


					</div>

					<footer>
						<a href="/login" class="button">Already have an account. Click here to log in </a>
					</footer>
				</div>
			</section>



		<!-- Footer -->

<!-- Removing footer

			<footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<Scripts 
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
-->
	</body>
</html>
